* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #e5edf2 !important;
  padding: 20px;
  font-family: "Playfair Display", serif;
}
@media (max-width: 690px) {
  body {
    padding: 0 0 20px;
  }
}
