.todo-list-type {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}
.column {
  width: 33.33%;
  margin: 20px;
  text-align: center;
}

.in-progress,
.todo,
.completed {
  padding: 10px;
  margin: 18px 0;
  border-radius: 5px;
  font-weight: 400;
  color: #fff;
  position: relative;
}
.count {
  width: 20px;
  height: 20px;
  background: white;
  padding: 2px 0;
  font-size: 15px;
  color: black;
  position: absolute;
  top: -8px;
  right: -10px;
  border-radius: 50%;
}
.todo {
  background-color: #8ea1ad;
}
.in-progress {
  background-color: #00a8ff;
}
.completed {
  background-color: #65d300;
}
.droppable-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background: black; */
}
.item {
  margin: 5px;
  padding: 10px 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  word-break: break-word;
  display: flex;
  justify-content: space-between;
}
.control-buttons {
  display: flex;
  gap: 0.2rem;
  min-width: 2rem;
  cursor: pointer;
}
.control-buttons i {
  display: none;
  cursor: pointer;
}
.item:hover i {
  display: block;
}
.completed + .droppable-col > .item > .control-buttons {
  cursor: grab;
}
.completed + .droppable-col > .item:hover i {
  display: none;
}
@media (max-width: 690px) {
  .todo-list-type {
    flex-direction: column;
    align-items: center;
  }
  .column {
    width: 80%;
  }
}
